body {
  margin: auto;
  background-image: url('/Static/images/Motif.png');
}

.image1 {
  text-align: center;
}

#group {
  width: 100%;
  height: 120vh;
}

.intro {
  margin-top: 30px;
  text-align: center;
  font-family: 'Caviar Dreams', sans-serif;
}

.equipe1,
.equipe2,
.equipe3,
.equipe4,
.equipe5 {
  margin-top: 80px;
  background-color: #fff;
  height: 40vh;
}

.hehe,
.hoho,
.hyhy,
.hihi,
.huhu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text1,
.text2,
.text3,
.text4,
.text5 {
  margin: auto;
  width: 100%;
}


#logo2 {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  height: 35vh;
  width: 35vh;
}

p {
  margin: 0;
  margin-top: 10px;
  font-family: 'Caviar Dreams', sans-serif;
}


@media only screen and (max-width: 768px) {
  /* Supprime l'image de fond */
  body {
    background-image:none;
  }
  
  /* Ajuste la taille du logo pour l'image */
  #logo2 {
    margin-top: 5vh;
    margin-left: auto;
    margin-right: auto;
    height: 25vh;
    width: 25vh;
  }
  
  /* Ajuste la taille de l'image */
  .image1 img {
    width: 100%;
  }
  
  /* Ajuste la hauteur des blocs "équipe" */
  .equipe1, .equipe2, .equipe3, .equipe4, .equipe5 {
    margin-top: 40px;
    height: auto;
  }
  
  /* Ajuste la largeur des blocs de texte des équipes */
  .text1, .text2, .text3, .text4, .text5 {
    margin:auto;
    width: 80%;
  }
}
