.menu {
  margin: 0;
  background-color: #fff;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.menu a {
  color: #1e1e1c;
  text-decoration: underline 3px #f59d08;
  font-weight: bold;
  margin: 0 0.5rem;
}

.menu a:hover {
  font-weight: bold;
  text-decoration: underline 2px #1e1e1c;
  color: #f59d08;
}

#logo {
  height: auto;
  width: 17vh;
}

@media (max-width: 767px) {
  .menu {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  #logo {
    margin-bottom: 1rem;
  }
  
  .menu a {
    font-size: 1.5rem;
    margin: 1rem 0;
  }

  .menu a img {
    height: 1.5rem;
  }

  #logo {
    display: none;
  }
}
