
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

body {

    margin: auto;
    background-image: url('/Static/images/Motif.png');
}

.banniere {
  position: relative;
  height: 80%;
}

.banniere img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.scroll-down-arrow {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  width: 40px;
  height: 40px;
  border: 2px solid #fff;
  border-radius: 50%;
}

.scroll-down-arrow::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  width: 10px;
  height: 10px;
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
}
h2{
    text-align: center;
}
h3{
    text-align: center;
    font-family: 'Space Grotesk', sans-serif;

}


.Titre {
    font-family: "montserrat";
    color: #1f1f1f;
    justify-content: center;
    margin-top: 5vh;
    max-width: 50%;
    text-align: center;
    background-color: white;
}

h1{
    margin:auto;
    text-align: center;
}

.Paragraphe1{
 margin: auto;
margin-top: 8vh;
text-align:center;
background-color:white;
font-family: "Montserrat", sans-serif;   
width: 80%;
}

.Paragraphe2{
  margin: auto;
  margin-top: 20vh;
  text-align:center;
  font-family: "Montserrat", sans-serif;   
  width: 80%;
  font-size: large;
  font-weight:900;
}

.Paragraphe2des{
  margin: auto;
  margin-top: 5vh;
  text-align:center;
  background-color:white;
  font-family: "Montserrat", sans-serif;   
  width: 80%;
}


.photodoc {
  display: flex;
  justify-content: space-around;
  gap: 10px; 
}

.squar img {
  margin-top:5vh;
  width: 70%;
  height: auto;
  display: block;
}
.squar2 img {
  margin-top:5vh;
  width: 90%;
  height: auto;
  display: block;
}
.squar3 img {
  margin-top:5vh;
  width: 90%;
  height: auto;
  display: block;
}

/* Taille d'écran mobile */
@media (max-width: 576px) {
  .Titre {
    max-width: 100%;
  }
  .Paragraphe1, .Paragraphe2, .Paragraphe2des {
    width: 100%;
    margin-top: 10vh;
  }
  .squar img, .squar2 img, .squar3 img {
    width: 100%;
  }
}

/* Taille d'écran tablette */
@media (min-width: 576px) and (max-width: 768px) {
  .Titre {
    max-width: 80%;
  }
  .Paragraphe1, .Paragraphe2, .Paragraphe2des {
    width: 80%;
    margin-top: 15vh;
  }
  .squar img, .squar2 img, .squar3 img {
    width: 80%;
  }
}

/* Taille d'écran ordinateur de bureau */
@media (min-width: 768px) and (max-width: 992px) {
  .Titre {
    max-width: 60%;
  }
  .Paragraphe1, .Paragraphe2, .Paragraphe2des {
    width: 60%;
    margin-top: 20vh;
  }
  .squar img, .squar2 img, .squar3 img {
    width: 60%;
  }
}

/* Taille d'écran large */
/* @media (min-width: 992px) {
  .Titre {
    max-width: 50%;
  }
  .Paragraphe1, .Paragraphe2, .Paragraphe2des {
    width: 50%;
    margin-top: 20vh;
  }
  .squar img, .squar2 img, .squar3 img {
    width: 50%;
  }
} */
