<!DOCTYPE html>

<head>
	<link rel="icon" type="image/png" sizes="16x16" href="../Static/images/BTM.png">
	<link rel="stylesheet" href="../Static/articles.css" type="text/css">
    <link rel="stylesheet" href="../Static/header2.css" type="text/css">
    <link rel="stylesheet" href="../Static/footer2.css" type="text/css">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">

</head>

{{template "header"}}

<body>
    <div class="image2">
        <img id="image2" src="/Static/articles/bbasket.jpg">
    </div>
    <div class="titre">
        <h1>Le Basket </h1>
    </div>

    <div class="premierParagraphe">
        <div class="text1">
            <p> 
                Le basketball, malgré son rang d'éternel n°2 dans le monde des sports collectifs, ne fait qu'accroître sa popularité à travers le monde.<br>
                Mais pourquoi cet attrait soudain ? On vous explique. </p>
        </div>
        <!-- <div class="image1">
            <img id="image1" src="/Static/articles/basket.png">
        </div> -->
    </div>

    <div class="deuxiemeParagraphe">
        <div class="titre2">
            <h1>Le développement du basketball dans le monde.</h1>
        </div>
        <div class="sousParagraphe1">
            <p>
                Le basketball est un sport collectif qui oppose des équipes d'environ 15 joueurs, dont 5 sur le terrain, qui ont pour objectif de faire rentrer le ballon dans le panier adverse. Ce sport a été créé aux États-Unis en décembre 1891 par le Canadien James W. Naismith, qui avait pour objectif de créer un sport en intérieur pour rester au chaud et garder la forme l'hiver.
                Ce sport est longtemps resté sous une domination américaine, mais peu à peu cette domination s'amenuise.<br>
                <br>
                Aux Etats-Unis, se trouve la ligue de basket la plus connue au monde, la NBA. Elle regroupe encore aujourd’hui les joueurs considérés comme les meilleurs de la planète à tel point qu’on considère qu’il y a un fossé les séparant des équipes du reste du monde. La NBA est considérée comme une ligue très spectaculaire et extravagante ce qui contraste avec le jeu international.

                Mais au fil du temps, les joueurs européens ont réussi à se faire leur place dans la grande ligue. La preuve étant que les trophées de MVP de ces quatre dernières ont été glanés par des Européens.
                 Cette tendance d’internationalisation ne peut être que bénéfique au sport, car maintenant, le rêve des jeunes joueurs de jouer en NBA n’est plus si inatteignable que ça.<br>
                <br>
                La France est le deuxième pays avec le plus de joueurs évoluant en NBA avec 9 joueurs. Cela s’explique par le fait que certains Français ont accompli de grandes choses en NBA dans les années 2000-2010. L’exemple le plus concret est Tony Parker avec ses 4 titres de champion NBA avec les Spurs, un titre de MVP des Finales et 6 sélections au All Star Game. 
                Ce précurseur à engendrer une génération dorée pour la france avec Rudy Gobert ( Triple défenseur de l’année), Joakim Noah ( Une fois défenseur de l’année ), Nicolas Batum et Evan Fournier qui continuent d’inspirer toute une génération de basketteurs en herbe telle que Victor Wembanyama, 19 ans qui sont pressentis comme le meilleur joueur de la prochaine draft NBA.
                <br>
                <br>
                Le développement du basket à l’international nous permet donc d’affirmer que l’ère de domination de l’équipe des Etats-Unis est révolue. En effet le niveau des différentes sélections devient plus homogène et l’équipe Américaine n’est plus invincible comme par le passé. Par exemple, l'équipe de France a vaincu les américains lors de la coupe du monde 2019 et lors des poules des JO 2020. 
                Tout cela est le résultat du développement à l’international du basket et de l’accessibilité grandissante du sport.
                <br>
                <br>
                

            </p>
        </div>
    </div>
</div> 
      
   
</body>

{{template "footer"}}

</html>