<!DOCTYPE html>

<head>
	<link rel="icon" type="image/png" sizes="16x16" href="../Static/images/BTM.png">
	<link rel="stylesheet" href="../Static/articles.css" type="text/css">
    <link rel="stylesheet" href="../Static/header2.css" type="text/css">
    <link rel="stylesheet" href="../Static/footer2.css" type="text/css">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">

</head>

{{template "header"}}

<body>
    <div class="titre">
        <h1>Les Fédérations </h1>
    </div>

    <div class="premierParagraphe">
        <div class="text1">
            <p>On entend souvent lors de compétition : “la Fédérations Française de Basket a dit”,<br>
                 la FFGym s’est exprimé après la performance aux JO….<br>
                 Les Fédérations Françaises sont des fédérations délégataires, mais elles ne sont pas seules. Pas de panique on vous explique tout. </p>
        </div>
        <div class="image1">
            <img id="image1" src="/Static/articles/federation.png">
        </div>
    </div>

    <div class="deuxiemeParagraphe">
        <div class="titre2">
            <h1>Pellentesque habitant morbi tristique</h1>
        </div>
        <div class="sousParagraphe1">
            <p>Reprenons depuis le début. Quand on s’inscrit dans une association sportive, on prend une licence à une fédération. Cette licence nous permet de participer à des évènements départemental, régional ou national.<br>
                <br>
                Qu’est ce qu’une fédération ? Une fédération c’est une organisation qui met en place  et assure la promotion de la pratique de sa ou ses disciplines, de l’activité de loisir au sport de haut niveau.<br>
                <br>
                Il existe deux types de fédérations<br>
                => les fédérations délégataires : qui représentent la France dans les compétitions internationales comme les JO, elles sont organisées par le ministère des sports.<br>
                Elles définissent les différentes réglementations qui tournent autour de leurs sports : organisation des compétitions, matériels recommandés ou obligatoire, éléments/mouvements techniques reconnus,etc. Elles sont en lien avec les Fédérations Internationales pour apporter une unité à un sport. <br>
                Ces Fédérations Françaises sont aussi des portes paroles pour présenter leurs activités et permettent de faire découvrir leurs sports à tous.<br>
                <br>
                => les fédérations affinitaires, quant à elles, respectent les réglementations données par les fédérations délégataires mais peuvent organiser leur activité librement. <br>
                La principale différence concerne les titres donnés en compétition. Ainsi, on ne parle pas de champion de france ou de championnat national mais de champion fédéral ou de fédéraux. <br>
                Moins visibles, elles permettent d’accueillir et d’adapter une discipline notamment dans des associations à portée locale.<br>
                <br>
                UFOLEP, FSCF, ne sont que quelques exemples ! Elles sont très nombreuses et permettent  aux plus grand nombre de pratiquer leur passion. <br>
                Le saviez-vous ? Certaines associations sont même multi-activités et mélangent ainsi le sport, la culture et l’art. <br>
                <br>
                Délégataires ou affinitaires, elles oeuvres toutes pour un objectif commun, le partage et la pratique d’une même activité !<br>
                
                
             
            </p>
        </div>
    </div>
        
        <div class="image2">
            <img id="image2" src="/Static/articles/bfederation.jpg">

        </div>
    </div>
</body>

{{template "footer"}}

</html>