<!DOCTYPE html>

<head>
	<link rel="icon" type="image/png" sizes="16x16" href="../Static/images/BTM.png">
	<link rel="stylesheet" href="../Static/articles.css" type="text/css">
    <link rel="stylesheet" href="../Static/header2.css" type="text/css">
    <link rel="stylesheet" href="../Static/footer2.css" type="text/css">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">

</head>

{{template "header"}}

<body>
    <div class="image2">
        <img id="image2" src="/Static/articles/bdanse.jpg">
    </div>
    <div class="titre">
        <h1>La danse n’est pas un sport </h1>
    </div>

    <div class="premierParagraphe">
        <div class="text1">
            <p>Discipline artistique et culturelle, la danse est pour beaucoup une activité sportive qui se pratique à tout âge. Pourtant, la danse et ses activités complémentaires ne sont pas reconnues comme un sport.  </p>
        </div>
  
    </div>

    <div class="deuxiemeParagraphe">
        <div class="titre2">
            <h1>Pourquoi la danse n’est pas considérée comme un sport ? </h1>
        </div>
        <div class="sousParagraphe1">
            <p>
                Danser c’est un art, une façon d’exprimer des sentiments sans parler. C’est là que se fait la différence entre danse et sport. Le sport est un “jeu” individuel ou collectif avec un esprit de challenge et de compétition. La danse est un outil d’expression de ces émotions et de sa culture. Cependant, de nombreuses personnes utilisent la danse comme activité sportive car elle demande de la force, de la souplesse et du maintien qui permet de garder une bonne forme physique.<br>
                <br>
Le saviez-vous ? Lors de la crise sanitaire, les salle de danse ont pu rouvrir plus facilement car considérées comme salle pour des activités artistiques. <br>
<br>
Les temps changent… <br>
De plus en plus d’activités associées à la danse sont créées comme des danses sportives. Elles ont pour objectifs de mélanger sport et danse avec des enchaînements de cardio ou très rapides. Plusieurs associations militent pour une meilleure reconnaissance de la danse avec notamment des rêves olympiques ! <br>
Grâce à cette persévérance, le breakdance devient discipline olympique pour les jeux olympiques de 2024. Le breaking est enfin devenue une discipline sportive et artistique. <br>
Cette danse multiculturelle est très riche et  met en avant la diversité des danseurs qui l’a pratique.  <br>

        </div>
    </div>
</div> 
        
   
</body>

{{template "footer"}}

</html>