<!DOCTYPE html>
<head>
    <link rel="icon" type="image/png" sizes="16x16" href="../Static/images/BTM.png">
    <link rel="stylesheet" href="../Static/equipes.css" type="text/css">
    <link rel="stylesheet" href="../Static/header2.css" type="text/css">
    <link rel="stylesheet" href="../Static/footer2.css" type="text/css">
    <link href="https://fonts.cdnfonts.com/css/caviar-dreams" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>

{{template "header"}}

<body>
    
</div>
<div class="image1">
    <img id="group" src="../Static/images/groupe_btm.jpg">
</div>
<div class="intro">
    <p>Découvrez les membres de l'équipe Bigger Than Me</p>
</div>
<div class="equipe1">
    <div class="hehe">
    <img src="../Static/images/info.jpeg" id="logo1">
    <div class="text1">
        <h4>La Team Communication</h4>
    <p>L’équipe est divisée en 2 parties : les réseaux sociaux et le site internet. 💻
        Nous sommes donc chargés du développement de nos différents réseaux sociaux et
        d’harmoniser nos interactions avec nos followers.
        Nos informaticiens mettent tous leurs efforts en place pour pouvoir vous proposer un site web
        qualitatif !</p>
</div>
</div>
</div>

<div class="equipe2">
    <div class="hoho">
        <div class="text2">
            <h4>La Team Business Plan</h4>
        <p>Nous serons la boîte de production de l’incubateur. C'est-à-dire que nous allons mettre en place tout le
            business plan du projet afin de définir la nature de Bigger Than Me.🍀
            Notre projet Business plan s’occupe de la création de la marque, des logos ainsi que de l'entièreté de la
            charte du projet. 🎨
            Notre objectif est de créer la marque, de définir quelle est la meilleure structure pour que
            l'incubateur se professionnalise et donc obtenir plus de visibilité. ✅</p>
    </div>
        <img src="../Static/images/business.jpg" id="logo2">
</div>
</div>

<div class="equipe3">
    <div class="hehe">
        <img src="../Static/images/Replay.jpg" id="logo1">
        <div class="text">
        <h4>La Team Replay</h4>
    <p>Le projet replay consiste à se rendre à des matchs pour en extraire le contenu vidéo
        qui sera résumé au cours du montage. 🎞
        Le but est de mettre en avant les moments importants de chaque évènement filmés afin
        de mettre en valeur la discipline choisie. 
        Pour nos tournages, nous avons à disposition du matériel personnel ainsi que du matériel de l'école. 🎥</p>
</div>
</div>
</div>


<div class="equipe4">
    <div class="hihi">
        <div class="text4">
            <h4>La Team Documentaire</h4>
            <p>La team consiste à suivre plusieurs sports à travers un sportif confirmé ou professionnel.💪
            En consultant quelqu’un de passionné qui à l’habitude de pratiquer, cela pourrait donner envie aux auditeurs de
            s'intéresser de façon plus approfondie à un sport ou une activité.🏅
            En testant le sport pendant les différents épisodes, notre but est donc de donner envie au public de pratiquer
            un sport à travers nos documentaires.⛹</p>
        </div>
    <img src="../Static/images/Documentaire.jpg" id="logo2">
</div>
</div>

<div class="equipe5">
    <div class="huhu"></div>
    <img src="../Static/images/Podcast.jpg" id="logo1">
    <div class="text5">
        <h4>La Team Podcast</h4>
    <p>Notre projet vise à faire découvrir aux différents publics les sports allant du plus connu au plus
        insolite. En passant par les sportifs professionnels, amateurs et leurs supporters jusqu'aux différents
        métiers liés au sports (kinés, arbitres, commentateurs...)🏌
        Notre podcast a pour but de permettre aux sportifs de s'exprimer sur leur vécu. Il sera aussi
        divertissant à écouter que motivant pour commencer un nouveau sport ou se perfectionner dans le
        sien. 🎧
        Tous les passionnés quel qu'il soit seront les bienvenus pour partager leurs connaissances et leurs
        expériences</p>
</div>
</div>
</div>

</body>

{{template "footer"}}

</html>