<!DOCTYPE html>

<head>
    <link rel="icon" type="image/png" sizes="16x16" href="../Static/images/BTM.png">
    <link rel="stylesheet" href="/Static/nos_services.css" type="text/css">
    <link rel="stylesheet" href="../Static/header2.css" type="text/css">
    <link rel="stylesheet" href="../Static/footer2.css" type="text/css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

</head>


{{template "header"}}

<body>

    <div class="Titreservices">
        <div class="banniere">
            <img src="/Static/images/banniereservices.jpg">
            <div class="scroll-down-arrow"></div>
          </div>
          <script>document.querySelector(".scroll-down-arrow").addEventListener("click", () => {
            window.scrollTo({ top: document.body.scrollHeight, behavior: "smooth" });
          });</script>
        <h1 class="Titre">Les différents pôles de BTM</h1>
    </div>


    <div class="Paragraphe1">
       <p>Bigger Than Me est une équipe qui vous accompagne dans votre quête de connaissances, de divertissement et de découverte. Grâce à nos différents pôles, notamment replay, documentaire et podcast,nous vous offrons une expérience immersive et captivante.
        Notre objectif est de vous garantir un résultat satisfaisant en vous proposant des contenues de qualité,divertissant et enrichissant.
        Quel que soit votre domaine d'activité,nous sommes là pour vous offrir une expérience unique et inoubliable.
        Avec Bigger Than Me,laissez-vous guider dans un monde de découvertes passionnantes et d'aventures inoubliables.
       </p>
            <!-- <h3><span class="youtube-logo-left"></span><span class="youtube-title">Visualiser un extrait sur notre page Youtube</span><span class="youtube-logo-right"></span></h3> -->
    </div>


    <!-- <div class="Video">
        <ul>
            <iframe class="video" width="727" height="409" src="https://www.youtube.com/embed/hcabTB6AXaU"
                title="VILLEFRANCHE H.B  VS C.L. MARSANNAY" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        </ul>
    </div> -->

    <div class="Paragraphe2">
        <h1>DOCUMENTAIRE</h1>
    </div>

    <div class="Paragraphe2des">
        <p>Le pôle Documentaire consiste à suivre plusieurs sports à travers un sportif confirmé ou professionnel.<br>
            En consultant quelqu'un de passionné qui à l'habitude de pratiquer,cela pourrait donner envie aux auditeurs de s'intéresser de façon plus approfondà
            à un sport ou une activité.
            En testant le sport pendant les différents épisodes,
            notre but est donc de donner envie au public de pratiquer un sport à travers nos documentaires.
        </p>
    </div>

    <div class="photodoc">
        <div class="squar"><img src="/Static/images/BTMDocumentaire.png"> </div>
        <div class="squar2"><img src="/Static/images/docu1.png"> </div>
        <div class="squar3"><img src="/Static/images/docu2.png"> </div>
    </div>

    <div class="Paragraphe2">
        <h1>REPLAY</h1>
    </div>

    <div class="Paragraphe2des">
        <p>Le pôle Replay a pour mission de se rendre à des matchs pour en extraire le contenu vidéo qui sera résumé au cours du montage.
            Le but est de mettre en avant les moments importants de chaque évènement filmés afin de mettre en valeur la discipline choisie.
            Pour nos tournages, nous avons à disposition du matériel personnel ainsi que du matériel de l'école.
        
        </p>
    </div>

    <div class="photodoc">
        <div class="squar"><img src="/Static/images/BTMReplay.png"> </div>
        <div class="squar2"><img src="/Static/images/replay1.jpg"> </div>
        <div class="squar3"><img src="/Static/images/replay2.jpg"> </div>
    </div>

    <div class="Paragraphe2">
        <h1>PODCAST</h1>
    </div>

    <div class="Paragraphe2des">
        <p>Notre projet vise à faire découvrir aux différents publics les sports allant du plus connu au plus insolite. En passant par les sportifs professionnels, amateurs et leurs supporters jusqu'aux différents métiers liés aux sports (kinés, arbitres, commentateurs...)
            Notre podcast a pour but de permettre aux sportifs de s'exprimer sur leur vécu. Il sera aussi divertissant à écouter que motivant pour commencer un nouveau sport ou se perfectionner dans le sien.
            Tous les passionnés quel qu'il soit seront les bienvenus pour partager leurs connaissances et leurs expériences.            
        </p>
    </div>

    <div class="photodoc">
        <div class="squar"><img src="/Static/images/BTMPodcast.png"> </div>
        <div class="squar2"><img src="/Static/images/podcast1.png"> </div>
        <div class="squar3"><img src="/Static/images/podcast2.png"> </div>
    </div>

</body>

{{template "footer"}}

</html>